#Backend
NODE_ENV=development
PORT=3000

CORS_ORIGIN=http://localhost:5173

MONTHLY_TASK_LIMIT=50

JWT_SECRET=generate_a_strong_random_32byte_hex_for_jwt_tokens
CREDENTIAL_MASTER_KEY=generate_a_strong_random_32byte_hex_for_aes256_encryption
INTERNAL_SHARED_SECRET=generate_a_strong_random_32byte_hex_for_hmac_backend_agents

# Agents
AGENTS_SERVICE_URL=http://agents:8000
BACKEND_BASE_URL=http://backend:3000
PROMPTS_DIR=/app/prompts

LLM_PROVIDER=notBedrockPrettyBoah # Either 'bedrock' or whatever else
LLM_API_KEY=insert_a_valid_key
LLM_BASE_URL=https://dashscope-intl.aliyuncs.com/compatible-mode/v1 # Example for Qwen via DashScope
LLM_MODEL_GENERAL=
LLM_MODEL_SECURITY=

# Frontend
VITE_API_BASE_URL=http://localhost:3000/api/v1
VITE_WS_URL=ws://localhost:3000

# DB and storage
MONGO_URI=mongodb://mongodb:27017/codeguardian
REDIS_URL=redis://redis:6379
S3_ENDPOINT=http://minio:9000
S3_KEY=minioadmin
S3_SECRET=minioadmin